*{
  /* background-image: linear-gradient(to bottom, rgb(20, 12, 53),rgb(216, 168, 10)); */
  background-color: rgb(215, 179, 248);
} 
#Nav{
    /* border:0.5px solid #303030; */
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
#image{
    width: 50%;
    height: 110%;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}
#icons{
    display: flex;
    gap: 2.5vw;
    padding: 50px;
    padding-top:25px;
    opacity: 0.7;
    
}
#ab{
    opacity:1;
    font-size: 35px;
    color: #000000;
    margin: -8px;
    margin-right: 1px;
}
.a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 25px;
}
#card{
    width: 250px;
    height: 550px;
    
    
    /* border: 3px solid black; */
    /* margin: 60px; */
    margin-top: 100px ;
    /* border: 3px solid black */
    /* margin-left: 150px ; */
    /* display: flex;
    flex-wrap: wrap; */
    /* padding:10px; */
}
#card:hover{
    border: 5px solid rgb(72, 52, 52);
    border-radius: 10%;
    width: 250px;
    height: 550px;
}
#raterstyle{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#parentShimmer{
    width: 200px;
    height: 350px;
    /* border: 2px solid black; */
    border-radius: 7%;
    margin: 60px;
    margin-top: 80px ;
    padding:10px;
    padding-left:15px;
    background-color: #e4e3e3;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between; */
}
#imageShimmer{
    box-sizing: border-box;
    margin: 3px;
  width: 190px;
  height: 160px;
 /* border: 2px solid black; */
border-radius: 10%;

background-color: #c2bebe;
}
.s{
    /* border: 2px solid black; */
    width: 190px;
    height: 40px;
    margin-top: 40px;
    background-color: #c2bebe;
    border-radius: 10%;

}
#cardS{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap:60px;
    
    /* justify-content:space-between; */
}
#cardimage{
    margin: 0px;
  width: 250px;
  height: 250px;
 /* border: 2px solid black; */
border-radius: 10%;

}
.h{
    margin: 5px;
    text-decoration: none;
}
#cardsdesign{
    display: flex;
    flex-wrap: wrap;
   gap: 80px;
    margin: 30px;
    
}
#rupay{
    margin-bottom:30px ;
}
#linkRes{
    text-decoration: none;
    color: #000000;
}
.to{
    padding: 50px;
    height: 600px;
    border: 1px solid black;
  margin: 100px;
   justify-items: center;
   align-items: center;
   background-image: linear-gradient(to bottom,rgb(215, 179, 248),rgb(224, 196, 250),white);
}
.risk{
    font-size: large;
}
#bottontab{
    background-color: rgb(99, 10, 34);
    color: rgb(248, 248, 248);
    width: 70px;
    height: 35px;
}
#non{
    text-decoration: non;
}
#searchBar{
    display: flex;
    gap:10px;
    margin: 20px;
    margin-top: 70px;
    /* border: 1px solid #000000; */
    justify-content: center;


}
#top{
    width: 75px;

    background-color: rgb(105, 215, 136);
    border-radius: 10%;
    color: #1009d1;
}
#statuscheck{
    margin-top: -10px;
}


